@use "../../styles/variables" as *;

.btnContainer {
  border-radius: 6px;
  text-align: center;
  padding: 10px 16px;
  outline: none;
  border: none;
  cursor: pointer;
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  font-weight: 500;
  height: max-content;
}

.fullWid {
  width: 100%;
}

.maxContent {
  width: max-content;
}

.primaryBtn {
  background: var(--primary-bg-color, #026a26);
  color: white;
}

.secondaryBtn {
  background: white;
  color: black;
  border: 1px solid var(--primary-bg-color, #026a26);
  // &:hover {
  //   background: var(--theme-color);
  //   color: var(--tertiary-color);
  // }
}

.link {
  text-decoration: none;
}

.loader {
  position: relative;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background-color: white;
  color: white;
  animation: loader 1s infinite linear;
  margin: 5px;
}

.loader::before,
.loader::after {
  content: "";
  display: inline-block;
  position: absolute;
  top: 0;
}
.loader::before {
  left: -15px;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background-color: white;
  color: white;
  animation: loader-before 1s infinite linear;
}
.loader::after {
  left: 15px;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background-color: white;
  color: white;
  animation: loader-after 1s infinite linear;
}

.isBorder {
  border: 1px solid #7a7a7a;
  color: #000000;
  width: 25%;
}

.pdBlock {
  padding: 12px 16px !important;
}

@keyframes loader-before {
  0% {
    transform: scale(1, 1);
  }
  25% {
    transform: scale(1, 1.5);
  }
  50% {
    transform: scale(1, 0.67);
  }
  75% {
    transform: scale(1, 1);
  }
  100% {
    transform: scale(1, 1);
  }
}
@keyframes loader {
  0% {
    transform: scale(1, 1);
  }
  25% {
    transform: scale(1, 1);
  }
  50% {
    transform: scale(1, 1.5);
  }
  75% {
    transform: scale(1, 1);
  }
  100% {
    transform: scale(1, 1);
  }
}
@keyframes loader-after {
  0% {
    transform: scale(1, 1);
  }
  25% {
    transform: scale(1, 1);
  }
  50% {
    transform: scale(1, 0.67);
  }
  75% {
    transform: scale(1, 1.5);
  }
  100% {
    transform: scale(1, 1);
  }
}
