@use "../../styles" as *;

.fieldContainer {
  display: flex;
  flex-direction: column;
  gap: $spacing-1;
}

.label {
  display: flex;
  align-items: center;
  font-weight: $font-medium;
  gap: $spacing-1;
  color: var(--text-secondary);
}

.inputContainer {
  color: var(--text-secondary);
  border: 1px solid var(--border-default);
  padding: $spacing-3;
  border-radius: $radius-base;
  background: var(--bg-default);
}

.searchInput {
  color: var(--text-secondary);
  border: 1px solid var(--background-secondary);
  padding: $spacing-3;
  border-radius: $radius-md;
  background: var(--background-secondary);
}

.input {
  border: none;
  outline: none;
  width: 100%;
  background: transparent;
  font-size: $font-md;
  font-weight: $font-medium;
  color: var(--text-secondary);

  &::placeholder {
    color: var(--primary);
  }
}

.textArea {
  outline: none;
  min-height: 60px;
  resize: none;
}

.inlineIcons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: $spacing-1;

  .input {
    width: 92%;
  }
}

.requiredField {
  font-size: $font-md;
  color: var(--color-error);
}

.inputWid {
  width: 100% !important;
  height: 48px !important;
  border-radius: $radius-xl !important;
}

.disabledField {
  background: var(--background-secondary) !important;
}

.disabled {
  background: rgba(239, 239, 239, 0.3);
}

.labelInlineItems {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

// CHECKBOX

.checkboxLabel {
  font-size: $font-sm;
  font-weight: $font-regular;
  color: var(--primary-font-color);
  text-transform: capitalize;
  display: block;
  position: relative;
  padding-left: 35px;
  cursor: pointer;
  user-select: none;
}

.customCheckbox {
  position: absolute;
  top: 0;
  left: 0;
  height: 22px;
  width: 22px;
  border-radius: $radius-md;
  background-color: var(--border-primary);
}

.checkboxInput {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkboxLabel:hover .checkboxInput ~ .customCheckbox {
  background-color: var(--border-primary);
}

.checkboxLabel .checkboxInput:checked ~ .customCheckbox {
  background-color: var(--primary);

  padding: 0.5px;
}

.customCheckbox:after {
  content: "";
  position: absolute;
  display: none;
}

.checkboxLabel .checkboxInput:checked ~ .customCheckbox:after {
  display: block;
}

.checkboxLabel .customCheckbox:after {
  left: 9px;
  top: 3px;
  width: 5px;
  height: 11px;
  border: solid var(--text-inverse);
  border-width: 0 3px 3px 0;
  transform: rotate(45deg);
}

// Utilities

.ml4 {
  margin-left: $spacing-1;
}

.extraTexts {
  font-size: $font-xs;
  font-weight: $font-regular;
  color: var(--primary);
  margin: 0;
}
