// ========================================
// CoMori Typography System
// ========================================


// ========================================
// Font Families
// ========================================

$font-heading: "Lora", serif;

$font-body: "Inter", sans-serif;



// ========================================
// Heading Large
// ========================================

$heading-large: (
  family: $font-heading,
  size:72px,
  weight:700,
  line-height:100%,
  letter-spacing:0
);



// ========================================
// Heading Small
// ========================================

$heading-small: (
  family:$font-heading,
  size:60px,
  weight:500,
  line-height:100%,
  letter-spacing:0
);



// ========================================
// Display Text Large
// ========================================

$text-display-large: (
  family:$font-body,
  size:60px,
  weight:400,
  line-height:150%,
  letter-spacing:0
);