//
// Base Typography
//

@mixin font(
  $fontSize: 1rem,
  $fontWeight: 400,
  $color: var(--primary-font-color),
  $fontFamily: "Nunito Sans"
) {
  font-family: $fontFamily, sans-serif;
  font-size: $fontSize;
  color: $color;
  font-weight: $fontWeight;
}


//
// Typography Mixins
//

@mixin headingLarge(
  $fontSize: 72px,
  $fontWeight: 700,
  $color: var(--primary-font-color),
  $fontFamily: "Lora"
) {
  font-family: $fontFamily, serif;
  font-size: $fontSize;
  color: $color;
  font-weight: $fontWeight;
  font-style: normal;
}


@mixin headingSmall(
  $fontSize: 32px,
  $fontWeight: 700,
  $color: var(--primary-font-color),
  $fontFamily: "Lora"
) {
  font-family: $fontFamily, serif;
  font-size: $fontSize;
  color: $color;
  font-weight: $fontWeight;
  font-style: normal;
}


@mixin text(
  $fontSize: 1rem,
  $fontWeight: 400,
  $color: var(--primary-font-color),
  $fontFamily: "Inter"
) {
  font-family: $fontFamily, sans-serif;
  font-size: $fontSize;
  color: $color;
  font-weight: $fontWeight;
}


//
// Layout Mixins
//

@mixin gridColumn($columns: 2, $gap: 20px) {
  display: grid;
  grid-template-columns: repeat($columns, minmax(50px, 1fr));
  grid-gap: $gap;

  @media (max-width: 880px) {
    grid-template-columns: repeat(2, minmax(50px, 1fr));
  }

  @media (max-width: 500px) {
    grid-template-columns: repeat(1, minmax(50px, 1fr));
  }
}


@mixin flex($justifyContent: center, $alignContent: center) {
  display: flex;
  justify-content: $justifyContent;
  align-items: $alignContent;
}


//
// Skeleton Loader
//

@mixin skeleton($width) {
  width: $width;
  border-radius: 20px;
  background-color: rgba(0, 0, 0, 0.6);
  animation: skeleton-loading 1.2s ease-in-out infinite alternate;

  @keyframes skeleton-loading {
    0% {
      background-color: rgba(0, 0, 0, 0.6);
    }

    100% {
      background-color: rgba(0, 0, 0, 0.4);
    }
  }
}