@use "../../styles" as *;

.layout {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background: var(--bg-surface);
}

.body {
  flex: 1;
  display: flex;
}

.page {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.content {
  flex: 1;
  padding: $spacing-6;

  @include md {
    padding: $spacing-8;
  }
}

.desktopFooter {
  display: none;

  @include lg {
    display: block;
  }
}
