@use "../../styles" as *;

.layout {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background: var(--bg-surface);
}

.body {
  flex: 1;
  display: flex;
}

.content {
  flex: 1;
  padding: $spacing-6;

  @include md {
    padding: $spacing-8;
  }
}
