@use "../../styles" as *;

.header {
  height: 5.25rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: $radius-2xl;
  padding-inline: $radius-3xl;
  background: var(--background-primary);
}

.logoWrapper {
  display: flex;
  align-items: center;
  width: 8rem;
}

.logo {
  width: 100%;
  height: auto;
  object-fit: contain;
}

.navigation {
  display: none;

  @include lg {
    display: flex;
    height: 60px;
    align-items: center;
  }
}

.navItem {
  height: 60px;
  display: flex;
  align-items: center;
  gap: $spacing-2;
  padding-inline: $radius-xl;
  background: none;
  border: none;
  border-bottom: 2px solid transparent;
  cursor: pointer;
  @include font($font-lg, $font-medium, var(--text-primary), $font-body);
  transition: $transition-base;

  &:hover {
    color: $primary;
  }
}

.active {
  border-bottom: 2px solid $primary;
  color: $primary;
}

.actions {
  display: flex;
  gap: $spacing-4;

  button {
    border: none;
    background: none;
    cursor: pointer;
    @include font($font-md, $font-medium);
  }
}

.mobileMenu {
  display: block;

  @include lg {
    display: none;
  }
}
