@use "../../styles" as *;

.header {
  position: relative;
  height: 5.25rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-inline: $spacing-6;
  background: var(--bg-primary);

  @include lg {
    padding: $spacing-6 $spacing-8 $spacing-0 $spacing-8;
  }
}

.left {
  display: flex;
  align-items: center;
}

.menuButton {
  display: flex;
  align-items: center;
  justify-content: center;
  background: none;
  border: none;
  cursor: pointer;

  @include lg {
    display: none;
  }
}

.logoWrapper {
  display: none;

  @include lg {
    display: flex;
    align-items: center;
    width: 9rem;
  }
}

.logo {
  width: 100%;
  height: auto;
}

.pageTitle {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);

  @include font($font-xl, $font-semibold, $font-body);

  @include lg {
    display: none;
  }
}

.navigation {
  display: none;

  @include lg {
    display: flex;
    align-items: center;
    height: 100%;
  }
}

.navItem {
  height: 100%;
  display: flex;
  align-items: center;
  gap: 10px;
  padding-inline: $spacing-4;
  text-decoration: none;
  border-bottom: 2px solid transparent;
  transition: $transition-base;
  @include font($font-lg, $font-medium);

  &:hover {
    color: $primary;
  }
}

.active {
  color: $primary;
  border-bottom-color: $primary;
}

.actions {
  display: none;

  @include lg {
    display: flex;
    gap: $spacing-4;
  }
}

.iconButton {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: $radius-full;
  border: 1px solid var(--gray-idle, #d3e4df);
  background: none;
  cursor: pointer;
}

