@use "../../styles" as *;

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 26.25rem;
  display: flex;
  flex-direction: column;
  background: $white;
  padding: $spacing-8 $spacing-6 $spacing-8;
  transform: translateX(-100%);
  transition: $transition-base;
  z-index: $z-modal;
  border-radius: 0 $radius-2xl $radius-2xl 0;
  overflow-y: auto;

  @include lg {
    display: none;
  }
}

.open {
  transform: translateX(0);
}

.overlay {
  position: fixed;
  inset: 0;
  background: $black-alpha-500;

  @include lg {
    display: none;
  }
}

.close {
  position: absolute;
  right: $spacing-4;
  top: $spacing-4;
  cursor: pointer;
}

.navigation {
  display: flex;
  flex-direction: column;
  gap: $spacing-2;
  margin-top: $spacing-6;
  padding-right: $spacing-2;
  flex: 1;
}

.item {
  display: flex;
  align-items: center;
  gap: $spacing-3;
  width: 100%;
  padding: $spacing-3 $spacing-4;
  background: transparent;
  border: none;
  text-decoration: none;
  color: var(--text-default);
  cursor: pointer;

  @include font($font-lg, $font-regular, var(--text-default), $font-body);

  &:hover {
    color: $primary;
  }
}

.active {
  color: $primary;
  background: var(--bg-secondary);
  border-radius: $radius-md;
}

h3 {
  @include headingSmall($font-xl, $font-medium, var(--text-default));
}

.footerWrapper {
  display: block;
  flex-shrink: 0;

  @include lg {
    display: none;
  }
}
