@use "../../styles" as *;

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 26.25rem;
  display: flex;
  flex-direction: column;
  background: $white;
  padding: $spacing-8 $spacing-6 $spacing-12;
  transform: translateX(-100%);
  transition: $transition-base;
  z-index: $z-modal;
  border-radius: 0 $radius-2xl $radius-2xl 0;
  overflow: hidden;

  @include lg {
    display: none;
  }
}

.open {
  transform: translateX(0);
}

.overlay {
  position: fixed;
  inset: 0;
  background: $black-alpha-500;

  @include lg {
    display: none;
  }
}

.close {
  position: absolute;
  right: $spacing-4;
  top: $spacing-4;
  cursor: pointer;
}

.navigation {
  display: flex;
  flex-direction: column;
  gap: $spacing-2;
  margin-top: $spacing-6;
  flex: 1;
  overflow-y: auto;
  padding-right: $spacing-2;

  &::-webkit-scrollbar {
    width: 4px;
  }

  &::-webkit-scrollbar-thumb {
    background: var(--border-primary);
    border-radius: 10px;
  }
}

.item {
  display: flex;
  align-items: center;
  gap: $spacing-3;
  width: 100%;
  padding: $spacing-3 $spacing-4;
  border: none;
  background: transparent;
  text-decoration: none;
  color: var(--text-default);
  cursor: pointer;
  @include font($font-lg, $font-regular, var(--text-default), $font-body);

  &:hover {
    color: $primary;
  }
}

.active {
  color: $primary;
  background: var(--bg-secondary);
  border-radius: $radius-md;
}

h3 {
  @include headingSmall($font-xl, $font-medium, var(--text-default));
}

.bottom {
  flex-shrink:0;
  margin-top:$spacing-4;
  padding-top:$spacing-4;
  text-align:center;
  font-size:$font-xs;
  color:var(--text-secondary);
  border-top:1px solid var(--border-primary);
}

.certificates {
  margin-block: $spacing-4;
}

.links {
  padding-block: $spacing-3;
  border-top: 1px solid var(--border-primary);
}


