@use "../../styles" as *;

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  background: var(--bg-primary);
  border-top: $border-width-sm solid var(--border-primary);
  gap: $spacing-4;

  @include lg {
    padding: $spacing-0 $spacing-6 $spacing-8;
  }
}

// Compliance

.complianceSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  gap: $spacing-3;
  padding: $spacing-3 $spacing-4;
  border-bottom: 1px solid var(--border-solid, #b9d6cc);
}

.compliance {
  @include font($font-sm, $font-medium, $primary, $font-body);
  text-align: center;
}

.certificates {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: $spacing-6;
}

.logoWrapper {
  width: 2.938rem;
  margin: 0;
}

.logo {
  width: 100%;
  height: auto;
  display: block;
}

// Legal

.legalSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: $spacing-1;
}

.links {
  display: flex;
  align-items: center;
  justify-content: center;

  a {
    @include font($font-sm, $font-medium, var(--primary), $font-body);
    line-height: 20px;
    text-decoration: none;
    transition: $transition-base;

    &:hover {
      text-decoration: underline;
    }

    &:not(:last-child) {
      display: flex;
      align-items: center;

      &::after {
        content: "";
        width: 1px;
        height: 16px;
        margin-inline: $spacing-6;
        background: var(--border-default, #d3e4df);
      }
    }
  }
}

.copyright,
.version {
  @include font($font-xs, $font-medium, var(--primary), $font-body);
  line-height: 16px;
  text-align: center;
}
